# ===== 基础工具 =====
asttokens
comm
debugpy
decorator
executing
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
packaging
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyzmq
six
stack_data
tornado
traitlets
wcwidth
wrapt==1.17.3

# ===== 数值计算 =====
numpy>=1.24,<2.3   # tested with 2.2.6
scipy>=1.10,<1.16  # tested with 1.15.3
sympy>=1.13.3      # torch 2.7.1 requires sympy>=1.13.3
mpmath==1.3.0

# ===== 可视化 =====
matplotlib==3.8.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.62.1
kiwisolver==1.4.5
pillow==10.3.0
pyparsing==3.1.2
python-dateutil

# ===== 机器人 / 仿真 =====
pybullet==3.2.7
ikpy==3.4.2
meshcat==0.3.2

# ===== Pinocchio 生态 =====
cmeel==0.59.0
cmeel-assimp==6.0.2
cmeel-boost==1.89.0
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1

eigenpy==3.12.0
eiquadprog==1.3.0
pin==3.8.0
libpinocchio==3.8.0

# ===== 其他 =====
pyngrok==7.5.1
PyYAML==6.0.3
u-msgpack-python==2.8.0